body {
    background-color: #eee;
}

.node circle {
    fill: #fff;
    stroke: #fff;
    stroke-width: 3px;
}

.node text {
    font: 16px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

@media (max-width: 768px) {
    .link-responsive {
        display: none;
    }
}

@media (max-width: 768px) {
    .link-responsive {
        font-size: 10px;
        width: 100px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
